<ion-header>
  
  <ion-title>
    <h2>Contacts</h2>
  </ion-title>

</ion-header>

<ion-content class="card=background-page">

<ion-list>

  <ion-item>
    <ion-label>
      <div class="card-title"><h3>Contact #:09388398118</h3></div>
    </ion-label>
  </ion-item>


  <ion-item>
    <ion-label>
  <div class="card-title"><h3>Facebook: Juvelyn Sebuc Jusayan</h3></div>
    </ion-label>
  </ion-item>


  <ion-item>
    <ion-label>
  <div class="card-title"><h3>Gmail: juvelyn.jusayan@evsu.edu.ph</h3></div>
    </ion-label>
  </ion-item>


</ion-list>
</ion-content>